*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background:#000;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;   
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #888;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 90%;
    padding: 70px 0;
}
.col-2 h1{
    font-size: 80px;
    line-height: 70px;
    margin: 25px 0;
    font-family: 'Send Flowers';
    color: #ffd6d6;

}
.btn{
    display: inline-block;
    background: #1e6419;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #563434;
}

.header .row{
    margin-top: 40px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
h2{
    font-size: 45px;
    line-height: 70px;
    margin: 0 30px;
    font-family: 'Send Flowers';
    color: #1e6419;
}

.parrafo{
    font-size: 20px;
    margin: 0 10px;
    text-align: justify;
    padding: 25px;
}
.parrafo2{
    font-size: 20px;
    margin: 0 10px;
    text-align: justify;
    padding: 25px;
}
.container1{
    display: flexbox;    
    float: left;
    width: 45%;
    margin-top: 50px;
}
.container2{
    display: flexbox;
    float: right;
    width: 45%;
    margin-top: 50px;
}

/*--------------------footer-----------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    padding-top: 30%;
}
.footer p{
    color: #8a8a8a;
    text-align: center;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}
.footer-col-1, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-1 .row{
    text-align: center;

}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 140px;
    margin-bottom: 20px;
}
.footer-col-4{
    flex: basis 12%;
    text-align: center;
}
.footer-col-4 img{
    width: 25px;
    height: 15px;
    margin: 1px;
}
.footer-col-4 ul li{
    margin: 10px; 
    text-align: center;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 80px;
    cursor: pointer;
    filter: grayscale(100%);
    margin: 5px;
}
.col-5 img:hover{
    filter: grayscale(0)
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #1e6419;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
/*------------------media quiery for menu---*/
@media only screen and (max-width:800px){
    nav ul{
        position: sticky;
        top: 70px;
        left: 0;
        background: #111;
        width: 70%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
   
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
    .container1, .container2{
        width: 50%;
    }
    .footer{
        padding-top: 600px;
    }
/*------------------media quiery for less than 600 screen size---*/
@media only screen and (max-width:600px){
.row{
    text-align: center;
}
.col-2, .col-3, .col-4{
    flex-basis: 100%;
}
.container1, .container2{
    width: 50%;
}
.footer{
    padding-top: 600px;
}
}
